## Visual Studio & C#
.vs/
[Bb]in/
[Ob]j/
*.user
*.suo
*.userosscache
*.sln.docstates

## Project Specific
settings.json
appsettings.json
appsettings.Development.json
*.log
DebugLog.txt
Recordings/
lame.exe
bass.dll
bass_enc.dll

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Other Tools
.idea/
.vscode/
node_modules/
