## Visual Studio & C#
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Project Specific
settings.json
appsettings.json
appsettings.Development.json
*.log
DebugLog.txt
Recordings/
lame.exe
bass.dll
bass_enc.dll

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
publish/
BACKUPS/

## Backups
*.bak
*.bak[0-9]*
*.pre_pro.bak

## Other Tools
.idea/
.vscode/
node_modules/
